@model perseptus.PresentationEntity.ImagesListPE


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class='page-header'>
                <h2>Все изображения.</h2>
            </div>
            <form class='form-horizontal' role='form' action="/Search/Find" method='post'>
                <div class='form-group'>
                    <label class='col-sm-2 control-label'>Путь к файлу</label>
                    <div class='col-sm-10'>
                        <input type='text' class='form-control' name='FilePath' value='' placeholder='Путь к файлу с изображением'>
                    </div>
                </div>
                <div class='form-group'>
                    <div class='col-sm-offset-2 col-sm-10'>
                        <button type='submit' class='btn btn-success' name='Upload' value=''>Найти</button>
                    </div>
                </div>
            </form>

            @**************************************************************************************@
            <div class="modal" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" type="button" data-dismiss="modal">×</button>
                            <h3 class="modal-title"></h3>
                        </div>
                        <div class="modal-body">
                            <div id="modalCarousel" class="carousel">
                                <div class="carousel-inner"></div>
                                <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                                <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="loading">
                <div id="loadingcont">
                    <p id="loadingspinr">
                        <span id="imageProcessing">Обработка изображения ...</span>
                        <span id="imageLoading">Загрузка изображения ...</span>
                        <br />
                        <img src="~/Content/loading.gif">
                    </p>
                </div>
            </div>

            <fieldset class="formPhotoUpload formPhotoUpload1">
                <table>
                    <tr>
                        <td>
                            <div id="selector1" class="fileSelector">
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="btn-toolbar">
                    <button class="1 btn btn-primary btnImgUpload" data-url="@Url.Action("DoImportJSON", "Home")">Загрузить</button>
                </div>

            </fieldset>
            <fieldset class="photoUploadResult photoUploadResult1" style="display: none;">
                <p>Фотография успешно загружена!</p>
            </fieldset>
            @**************************************************************************************@
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="span12">
            @foreach (var image in Model.Images)
            {
                <div class="col-xs-5">
                    <div class="thumbnail">
                        <div class="desc">
                            <p class="desc_content">@image</p>
                        </div>
                        <img src="@Url.Action("Index", "Image" , new { id = image})" alt="125x125">
                    </div>
                </div>
            }
        </div>
    </div>
</div>


